.habits-container {
  width: 100%;          /* take full width */
  padding: 20px 40px;   /* breathing space from sides */
  box-sizing: border-box;
}

.habits-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.habits-table th,
.habits-table td {
  border: 1px solid #ddd;
  padding: 14px 18px;
  text-align: center;
}

.habits-table th {
  background-color: #f5f5f5;
}

.toggle-btn {
  background: #4caf50;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
}

.edit-btn {
  background: #2196f3;
  color: white;
  border: none;
  padding: 6px 10px;
  margin-right: 5px;
}

.delete-btn {
  background: #f44336;
  color: white;
  border: none;
  padding: 6px 10px;
}


/* Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* ON state */
input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(22px);
}
